<ion-view cache-view="false" view-title="{{ item[1].Nombre_Reservorio }}" class="padding">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background" padding="true">
    <div class="list sel-emb-list">
      <h4 class="item item-divider item-icon-left"><i class="icon ion-waterdrop"></i> {{ item[1].Nombre_Reservorio }}</h4>
      <p class="emb-txt-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>

    <a class="button button-light button-block mis-emb-save-btn" ng-click="showChartByHis()">Última Semana <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a>
    <a class="button button-light button-block mis-emb-save-btn" ng-click="showChartByHis()">Último Mes <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a>
    <a class="button button-light button-block mis-emb-save-btn" ng-click="showChartByHis()">Último Año <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a>
    <!--<a class="button button-light button-block mis-emb-home-btn"><i class="ion-ios-arrow-left"></i><i class="ion-ios-arrow-left"></i> Volver</a>-->
  </ion-content>
</ion-view>
