<ion-view view-title="Embalses">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-init=init()>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>

</ion-view>






