<ion-view cache-view="false" view-title="Embalses Favoritos" class="padding">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background" padding="true">
    <div class="list sel-emb-list" ng-repeat="item in esl">
      <h4 class="item item-divider item-icon-left item-icon-right"><i class="icon ion-waterdrop"></i> {{ item[1].Nombre_Reservorio }} <i class="icon ion-ios-plus-outline"></i></h4>
      <div class="list">
        <div class="item odd">Capacidad Hid. Almacenada: <span class="item-note">{{ item[1].Capacid_Hidraul_Alm | number : 2 }} %</span></div>
      </div>
      <button class="button button-full button-positive sel-emb-info-btn" ui-sref="app.embalseSeleInfo({item: item})">Mas información</button>
    </div>
  </ion-content>
</ion-view>
