<ion-view view-title="Embalse {{embalse.name}}">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content  class="app-background" class="has-header">
    <h3 id="resultado-heading13" style="color:#000000;">{{ itemEmbMap.embalse }}</h3>
    <div id="resultado-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <ion-list id="resultado-list7">
      <ion-item class="item-icon-right balanced" id="resultado-list-item30">Indicador 1: 10%
        <i class="icon ion-android-bulb"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="resultado-list-item31">Indicador 2: 50%
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right calm" id="resultado-list-item32">Indicador 3: 0.5
        <i class="icon ion-android-clipboard"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="resultado-list-item33">Indicador 4: Normal
        <i class="icon ion-checkmark"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="resultado-list-item34">Indicador 5: Sequía
        <i class="icon ion-alert"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.informaciNGeneral" id="resultado-button16" class="button button-calm  button-block">Información General</a>
    <a ui-sref="tabsController.registrosHistRicos" id="resultado-button18" class="button button-balanced  button-block">Registros Históricos</a>
    <div id="resultado-button-bar2" class="button-bar">
      <button id="resultado-button23" class="button button-dark  button-block">Inicio</button>
      <button id="resultado-button24" class="button button-energized  button-block">Fotos</button>
      <button id="resultado-button25" class="button button-royal  button-block">Glosario</button>
    </div>

  </ion-content>
</ion-view>




