<ion-view cache-view="false" view-title="Fotos de {{ item[1].Nombre_Reservorio }}" class="padding">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background" scroll="true" padding="true">
    <div class="list card" ng-repeat="photo in photos">

      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2>Foto de Embalse</h2>
        <p>{{ item[1].Nombre_Reservorio }}</p>
      </div>

      <div class="item item-image">
        <img src="{{ photo }}">
      </div>
    </div>
  </ion-content>
</ion-view>
