<ion-view cache-view="false" view-title="Glosario">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar..." data-ng-model="searchForce">
    </label>
    <div class="list">
      <ion-item class="item-icon-right" ng-repeat="item in glosario | filter:searchForce" ng-click="showDataGlosary(item)">
        {{ item.palabra }}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
