<ion-view cache-view="false" view-title="Estadísticas de {{ item[1].Nombre_Reservorio }}" class="padding">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background" scroll="true" padding="true">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2>{{ item[1].Nombre_Reservorio }}</h2>
        <p>Estadísticas por ...</p>
      </div>

      <div class="item">
        <highchart id="hischart-reporte" config="chartHisConfig" class="span10"></highchart>
      </div>
    </div>
  </ion-content>
</ion-view>
