<ion-view cache-view="false" view-title="{{ item[1].Nombre_Reservorio }}" class="padding">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background" padding="true">
    <div class="list sel-emb-list">
      <h4 class="item item-divider item-icon-left"><i class="icon ion-waterdrop"></i> {{ item[1].Nombre_Reservorio }}</h4>
      <p class="emb-txt-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="list">
        <div class="item odd">Volumen Útil: <span class="item-note">{{ item[1].Capacid_Hidraul_Util | number : 1 }} (hm3)</span></div>
        <div class="item even">Volumen Almacenado: <span class="item-note">{{ item[1].Capacid_Hidraul_Alm | number : 1 }} (hm3)</span></div>
        <div class="item even">Volumen Almacenado Porcentaje: <span class="item-note">{{ item[1].Capacid_Hidraul_Alm_Porc | number : 2 }} %</span></div>
      </div>
    </div>

    <highchart id="embalse-reporte" config="chartConfig" class="span10"></highchart>

    <a class="button button-light button-block mis-emb-save-btn" ng-click="seeEmbalseSelGene()">Información General</a>
    <a class="button button-light button-block mis-emb-home-btn" ng-click="seeEmbalseSelRegisHis()">Registro Histórico</a>
    <div class="button-bar">
      <a class="button mis-emb-save-btn" ui-sref="app.embalses"><i class="ion-android-home"></i> Inicio</a>
      <a class="button mis-emb-save-btn" ng-click="seePhotos()"><i class="ion-image"></i> Fotos</a>
      <a class="button mis-emb-save-btn" ng-click="showGlosario()"><i class="ion-ios-bookmarks"></i> Glosario</a>
    </div>
  </ion-content>
</ion-view>
