<ion-view cache-view="false" view-title="{{ item[1].Nombre_Reservorio }}" class="padding">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background" padding="true">
    <div class="list sel-emb-list">
      <h4 class="item item-divider item-icon-left"><i class="icon ion-waterdrop"></i> {{ item[1].Nombre_Reservorio }}</h4>
      <p class="emb-txt-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <img class="full-image" style="margin-bottom: -5px;" src="{{ photos != null || photos.lenght > 0 ? photos[0] : '' }}">
      <p class="emb-txt-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <a class="button button-light button-block mis-emb-home-btn" ng-click="seeEmbalseSelRegisHis()">Registro Histórico <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a>
    <!--<a class="button button-light button-block mis-emb-save-btn"><i class="ion-ios-arrow-left"></i><i class="ion-ios-arrow-left"></i> Volver a Indicadores</a>-->
  </ion-content>
</ion-view>
