<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS -->
    <ion-tabs class="tabs-dark tabs-icon-top">

      <ion-tab title="Embalses" icon-off="ion-android-map" icon-on="ion-android-map" href="#/app/embalses">
        <ion-nav-view name="tab-embalses"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Reportes" icon-off="ion-search" icon-on="ion-search" href="#/app/reportes">
        <ion-nav-view name="tab-reportes"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Mis Embalses" icon-off="ion-android-person" icon-on="ion-android-person" href="#/app/misEmbalses">
        <ion-nav-view name="tab-misEmbalses"></ion-nav-view>
      </ion-tab>

      <!-- the following tabs are hidden -->
      <ion-tab title="Información" icon-off="ion-ipod" icon-on="ion-ipod" href="#/app/info" hidden="true" >
        <ion-nav-view name="tab-info"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Acerca" icon-off="ion-ipod" icon-on="ion-ipod" href="#/app/acerca" hidden="true" >
        <ion-nav-view name="tab-acerca"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!--ion-item menu-close ng-click="login()">Login</ion-item-->
        <ion-item menu-close href="#/app/embalses">Inicio</ion-item>
        <ion-item menu-close href="#/app/reportes">Reportes</ion-item>
        <ion-item menu-close href="#/app/misEmbalses">Mis Embalses</ion-item>
        <ion-item href-inappbrowser="http://www.ana.gob.pe">Web ANA</ion-item>
        <ion-item href="mailto:ana@ana.gob.pe" >Solicitar Información</ion-item>
        <ion-item menu-close href="#/app/acerca">Acerca del app</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
