<ion-view cache-view="false" view-title="Mis Embalses">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header app-background" padding="true">
    <div class="list mis-emb-list" ng-repeat="memb in misEmbalses">
      <h4 class="item item-divider item-icon-left item-icon-right"><i class="icon ion-waterdrop"></i> {{ memb.zona }} <i class="icon ion-ios-plus-outline"></i></h4>
      <div class="list">
        <div ng-if="!favoritos">
        <ion-checkbox ng-class="{true:'odd',false:'even'}[($index % 2) == 0]" ng-repeat="sub_memb in memb.reservorios" ng-model="this.checked" ng-change="getIdCheckBoxList($parent.$index, $index)" ng-checked="sub_memb.checked">{{ sub_memb.Nombre_Reservorio }}</ion-checkbox>
        </div>
        <div ng-if="favoritos">
          <ion-item ng-class="{true:'odd',false:'even'}[($index % 2) == 0]" ng-repeat="sub_memb in memb.reservorios"><button class="button button-full button-positive sel-emb-info-btn" ui-sref="app.embalseSeleInfo({item: sub_memb})">{{ sub_memb.Nombre_Reservorio }}</button></ion-item>
        </div>
      </div>
    </div>

    <a class="button button-light button-block mis-emb-save-btn" ng-click="saveFavoritos(sel_emb)" ng-show="!favoritos">Guardar</a>
    <a class="button button-light button-block mis-emb-save-btn" ng-click="reset()">Reset</a>
    <a class="button button-light button-block mis-emb-home-btn" href="#/app/embalses">Volver al inicio</a>
  </ion-content>
</ion-view>
