<ion-view view-title="Reporte por Departamento">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  class="app-background padding">
    <label class="item">
      <p class="emb-txt-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">Departamentos</div>
      <select ng-change="onChangeDPTO()" ng-model="dptos.dpto">
        <option ng-repeat="dpto in dptos">{{ dpto.dpto }}</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">Embalses</div>
      <select ng-change="onChangeEMB()" ng-model="embs.emb">
        <option ng-repeat="emb in embs">{{ emb.emb }}</option>
      </select>
    </label>

    <a class="button button-light button-block mis-emb-home-btn" ng-click="onClickRepoDPTOEmb()"><i class="ion-search"></i> Buscar</a>
    <a class="button button-light button-block mis-emb-save-btn" ui-sref="app.reportes"><i class="ion-ios-arrow-left"></i><i class="ion-ios-arrow-left"></i> Volver a Reportes</a>
  </ion-content>
</ion-view>
