<ion-view view-title="Reportes">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  class="app-background padding">
    <p class="emb-txt-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <button class="button button-full mis-emb-home-btn" ui-sref="app.reportesTABLE({dataTableReport: dataTableReport})">Tabla de Reporte Nacional</button>
    <highchart id="embalse-reporte" config="chartConfig" class="span10"></highchart>
    <div class="button-bar" style="margin-top: 20px; margin-bottom: 20px;">
      <a class="button mis-emb-home-btn" ui-sref="app.reportesAAASel({embalseRepoAAA: dataMarkers, embalseRepoAAAEmb: dataTableReport})">División AAA</a>
      <a class="button mis-emb-save-btn" ui-sref="app.reportesDepaSel({embalseRepoDtos: dataTableReport})">Departamentos</a>
    </div>
  </ion-content>
</ion-view>
