<ion-view view-title="Reporte Nacional">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  class="app-background padding">
    <table class="report-table">
      <thead>
        <tr>
          <th>Zona</th>
          <th>Reservorio</th>
          <th>Departamento</th>
          <th>Cap. Hid. Util</th>
          <th>Cap. Hid. Alm</th>
        </tr>
      </thead>
      <tbody>
        <tr class="repo-data-row" ng-repeat="str in dataTableReport" ng-click="showDataHidden($event)">
          <td class="repo-head-title" data-label="Zona"><i class="icon ion-ios-plus-outline sdt"></i><i class="icon ion-ios-minus-outline hdt"></i> {{ str.Zona }}</td>
          <td class="repo-hide-info" data-label="Reservorio">{{ str.Nombre_Reservorio }}</td>
          <td class="repo-hide-info" data-label="Departamento">{{ str.Depart_Imfluenc }}</td>
          <td class="repo-hide-info" data-label="Cap. Hid. Util">{{ str.Capacid_Hidraul_Util | number : 1 }}</td>
          <td class="repo-hide-info" data-label="Cap. Hid. Alm">{{ str.Capacid_Hidraul_Alm | number : 1 }}</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-view>
