.padding{padding: 30px;}
.list.glosary{margin-bottom: -15px;}
.popup-container .popup{width: 85%!important;}
highchart{border-radius: 20px; overflow: hidden;}
highchart .highcharts-credits{display: none!important;}
.item-note{color: #666!important;}

/*Mis Embalses*/
.mis-emb-list{overflow: hidden; border-radius: 20px;}
.mis-emb-list .item{font-size: 12px;}
.mis-emb-list .item-divider{background-color: #ffffff; font-weight: 600; font-size: 18px; color: #1c8b9f;}
.mis-emb-list .item-divider > .icon{font-size: 25px;}
.mis-emb-list .item.odd{background-color: #eaeaec;}

.mis-emb-save-btn{background-color: #ffffff!important; border-radius: 12px!important; border: solid 2px #1c8b9f!important; font-size: 0.9em!important; color: #1c8b9f!important;}
.mis-emb-home-btn{background-color: #1c8b9f!important; border-radius: 12px!important; border: solid 2px #ffffff!important; font-size: 0.9em!important; color: #ffffff!important;}

/*Embalses Seleccionados*/
.sel-emb-list{overflow: hidden; border-radius: 20px;}
.sel-emb-list > .list{overflow: hidden; border-radius: 0 0 20px 20px;}
.sel-emb-list .item{font-size: 12px;}
.sel-emb-list .item-divider{background-color: #ffffff; font-weight: 600; font-size: 18px; color: #1c8b9f;}
.sel-emb-list .item-divider > .icon{font-size: 25px;}
.sel-emb-list .item.odd{background-color: #eaeaec;}

.sel-emb-info-btn{background-color: #1c8b9f!important; border-radius: 12px!important; border: solid 2px #ffffff!important; color: #ffffff!important;}

/*Select Repo By AAA*/

/*Check Box Custom Styles*/
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{background: #1c8b9f; border-color: #1c8b9f;}
.checkbox input:checked:after, input:checked + .checkbox-icon:after{opacity: 0;}
.platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before{border-radius: 50%;}

/*Gloabls Class*/
.emb-txt-info{margin-bottom: -1px; padding: 5px; background-color: #ffffff; font-size: 0.8em; color: #888888;}
.repo-table-head{background-color: #333333; font-size: 0.9em; color: #ffffff;}
.repo-table-data{background-color: #ffffff; font-size: 0.7em;}

/*Repor Table*/
.report-table{
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

.report-table thead tr{
  background-color: #333333;
  color: #ffffff;
}

.report-table tbody tr{
  background-color: #ffffff;
}

.report-table tr {
  border: 1px solid #ddd;
  padding: 0px;
}

.report-table td.repo-head-title{
  position: relative;
}

.report-table td.repo-head-title .sdt, .hdt{
  display: none;
  position: absolute;
  top: calc(50% - 12px);
  left: 5px;
  font-size: 24px;
}

.report-table th, .report-table td {
  padding: 10px;
  text-align: center;
}

.report-table th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {

    .report-table {
      border: 0;
    }

    .report-table thead {
      display: none;
    }

    .report-table tr {
      margin-bottom: 0px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    .report-table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    .report-table td:last-child {
      border-bottom: 0;
    }

    .report-table td.repo-head-title{
      border-bottom: 0;
      background-color: #e5e5e5;
    }

    .report-table td.repo-head-title .sdt{
      display: inline-block;
    }

    .report-table td.repo-hide-info{
      display: none;
      background-color: #ffffff;
    }

    .report-table td:before {
      content: attr(data-label);
      float: left;
      margin-left: 24px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
